<!DOCTYPE html>
<html lang="en" ng-app="lowBarrel">
<head>
    <meta charset="UTF-8">
    <title>Weather Chart</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/d3fc/1.5.0/d3fc.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak ng-controller="WeatherCtrl as weatherCtrl">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Weather Chart</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <label for="dataView" style="font-weight: normal">View</label>
                    <select id="dataView"
                            ng-options="type for type in weatherCtrl.typeOptions"
                            ng-model="weatherCtrl.dataTypeKey"
                            ng-change="weatherCtrl.typeChanged()"></select>
                    data
                </form>
            </div>
            <div class="col-md-6">
                <form class="pull-right">
                    <label for="hourSplit" style="font-weight: normal">Split into blocks of</label>
                    <select id="hourSplit"
                            ng-options="split for split in weatherCtrl.splitOptions"
                            ng-model="weatherCtrl.stepSize"
                            ng-change="weatherCtrl.splitChanged()"></select>
                    hours
                </form>
            </div>
        </div>
    </div>

    <candlestick data="weatherCtrl.data" meta-data="weatherCtrl.metaData"></candlestick>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3fc/1.5.0/d3fc.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/candlestick-directive.js"></script>
    <script src="js/data-service.js"></script>
    <script src="js/weather-controller.js"></script>
</body>
</html>
